
{% extends "_base.html" %}
{% block content %}

<h1>Wlecome to FlaskTaskr.</h1>
<h3>Please login to access your task list.</h3>

<form action="/" method="post">
    <div class="iput-group">
        <label for="name">Username:</label>
        <input type="text" id="username" name="username" values="{{
            request.form.username}}">
    </div>
    <div class="iput-group">
        <label for="mail">Passowrd:</label>
        <input type="password" id="password" name="password" values="{{
            request.form.username}}">
    </div>
    <div>
        <button type=""submit>Login</button>
    </div>
</form>

<p>Use 'admin' for the username and password</p>

{% endblock %}